USE [master]
GO
/****** Object:  Database [LanguageCenter]    Script Date: 07/06/2026 8:35:03 CH ******/
CREATE DATABASE [LanguageCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LanguageCenter', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.SQLSERVERE\MSSQL\DATA\LanguageCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LanguageCenter_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.SQLSERVERE\MSSQL\DATA\LanguageCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LanguageCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LanguageCenter]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationID] [int] NOT NULL,
	[ClassDate] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[StartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS_MATERIAL]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS_MATERIAL](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](255) NOT NULL,
	[UploadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS_SCHEDULE]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS_SCHEDULE](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[DayOfWeek] [nvarchar](20) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Room] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS_STATUS]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS_STATUS](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTATION]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTATION](
	[ConsultationID] [int] IDENTITY(1,1) NOT NULL,
	[GuestName] [nvarchar](100) NOT NULL,
	[ContactInformation] [nvarchar](100) NOT NULL,
	[QuestionContent] [nvarchar](max) NOT NULL,
	[RequestStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Method] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLACEMENT_TEST]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLACEMENT_TEST](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[TestDate] [date] NOT NULL,
	[TestTime] [time](7) NOT NULL,
	[Level] [nvarchar](50) NULL,
	[ResultScore] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAM]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAM](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[OutputStandard] [nvarchar](255) NULL,
	[Level] [nvarchar](50) NULL,
	[Duration] [nvarchar](50) NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRATION]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRATION](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[RegistrationDate] [datetime] NULL,
	[RegStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_FEEDBACK]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_FEEDBACK](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[Rating] [int] NULL,
	[FeedbackContent] [nvarchar](max) NULL,
	[FeedbackDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Expertise] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCOUNT]    Script Date: 07/06/2026 8:35:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNT](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[FailedLoginAttempts] [int] NULL,
	[IsLockedOut] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] ON 

INSERT [dbo].[ATTENDANCE] ([AttendanceID], [RegistrationID], [ClassDate], [Status]) VALUES (1, 1, CAST(N'2026-05-04' AS Date), N'Present')
INSERT [dbo].[ATTENDANCE] ([AttendanceID], [RegistrationID], [ClassDate], [Status]) VALUES (2, 1, CAST(N'2026-05-06' AS Date), N'Present')
INSERT [dbo].[ATTENDANCE] ([AttendanceID], [RegistrationID], [ClassDate], [Status]) VALUES (3, 2, CAST(N'2026-05-04' AS Date), N'Present')
SET IDENTITY_INSERT [dbo].[ATTENDANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[CLASS] ON 

INSERT [dbo].[CLASS] ([ClassID], [ProgramID], [TeacherID], [StatusID], [ClassName], [StartDate]) VALUES (1, 1, 3, 2, N'TOEIC_A_01', CAST(N'2026-05-01' AS Date))
INSERT [dbo].[CLASS] ([ClassID], [ProgramID], [TeacherID], [StatusID], [ClassName], [StartDate]) VALUES (2, 1, 3, 1, N'TOEIC_B_02', CAST(N'2026-07-15' AS Date))
INSERT [dbo].[CLASS] ([ClassID], [ProgramID], [TeacherID], [StatusID], [ClassName], [StartDate]) VALUES (3, 2, 1, 2, N'IELTS6_A_01', CAST(N'2026-04-10' AS Date))
SET IDENTITY_INSERT [dbo].[CLASS] OFF
GO
SET IDENTITY_INSERT [dbo].[CLASS_MATERIAL] ON 

INSERT [dbo].[CLASS_MATERIAL] ([MaterialID], [ClassID], [FileName], [FilePath], [UploadDate]) VALUES (1, 1, N'De_Thi_Thu_TOEIC_01.pdf', N'~/Content/Uploads/Materials/De_Thi_Thu_TOEIC_01.pdf', CAST(N'2026-06-04T20:41:43.713' AS DateTime))
INSERT [dbo].[CLASS_MATERIAL] ([MaterialID], [ClassID], [FileName], [FilePath], [UploadDate]) VALUES (3, 3, N'test', N'/Content/Uploads/Materials/639163434125872183_Web Programming report.pdf', CAST(N'2026-06-06T11:50:12.587' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLASS_MATERIAL] OFF
GO
SET IDENTITY_INSERT [dbo].[CLASS_SCHEDULE] ON 

INSERT [dbo].[CLASS_SCHEDULE] ([ScheduleID], [ClassID], [DayOfWeek], [StartTime], [EndTime], [Room]) VALUES (1, 1, N'Monday', CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), N'Room A101')
INSERT [dbo].[CLASS_SCHEDULE] ([ScheduleID], [ClassID], [DayOfWeek], [StartTime], [EndTime], [Room]) VALUES (2, 1, N'Wednesday', CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), N'Room A101')
INSERT [dbo].[CLASS_SCHEDULE] ([ScheduleID], [ClassID], [DayOfWeek], [StartTime], [EndTime], [Room]) VALUES (3, 3, N'Tuesday', CAST(N'19:00:00' AS Time), CAST(N'21:00:00' AS Time), N'Room B202')
SET IDENTITY_INSERT [dbo].[CLASS_SCHEDULE] OFF
GO
SET IDENTITY_INSERT [dbo].[CLASS_STATUS] ON 

INSERT [dbo].[CLASS_STATUS] ([StatusID], [StatusName]) VALUES (1, N'Upcoming')
INSERT [dbo].[CLASS_STATUS] ([StatusID], [StatusName]) VALUES (2, N'Ongoing')
INSERT [dbo].[CLASS_STATUS] ([StatusID], [StatusName]) VALUES (3, N'Completed')
SET IDENTITY_INSERT [dbo].[CLASS_STATUS] OFF
GO
SET IDENTITY_INSERT [dbo].[CONSULTATION] ON 

INSERT [dbo].[CONSULTATION] ([ConsultationID], [GuestName], [ContactInformation], [QuestionContent], [RequestStatus]) VALUES (1, N'Lý Vĩnh Phát', N'phatlv@gmail.com', N'Cho hỏi trung tâm có chi nhánh ở Quận 1 không?', N'Pending')
INSERT [dbo].[CONSULTATION] ([ConsultationID], [GuestName], [ContactInformation], [QuestionContent], [RequestStatus]) VALUES (2, N'Châu Trí Kiên', N'0901111111', N'ahihi', N'Pending')
SET IDENTITY_INSERT [dbo].[CONSULTATION] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT] ON 

INSERT [dbo].[PAYMENT] ([PaymentID], [RegistrationID], [Amount], [PaymentDate], [Method], [PaymentStatus]) VALUES (1, 1, CAST(3500000.00 AS Decimal(18, 2)), CAST(N'2026-06-04T20:30:52.217' AS DateTime), N'VNPay', N'Paid')
INSERT [dbo].[PAYMENT] ([PaymentID], [RegistrationID], [Amount], [PaymentDate], [Method], [PaymentStatus]) VALUES (2, 2, CAST(3500000.00 AS Decimal(18, 2)), CAST(N'2026-06-04T20:30:52.217' AS DateTime), N'MoMo', N'Paid')
SET IDENTITY_INSERT [dbo].[PAYMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PLACEMENT_TEST] ON 

INSERT [dbo].[PLACEMENT_TEST] ([TestID], [StudentID], [TestDate], [TestTime], [Level], [ResultScore], [Status]) VALUES (1, 1, CAST(N'2026-04-01' AS Date), CAST(N'08:00:00' AS Time), N'Pre-Intermediate', N'5.5', N'Completed')
INSERT [dbo].[PLACEMENT_TEST] ([TestID], [StudentID], [TestDate], [TestTime], [Level], [ResultScore], [Status]) VALUES (2, 2, CAST(N'2026-04-01' AS Date), CAST(N'09:00:00' AS Time), N'Pre-Intermediate', N'5.0', N'Completed')
INSERT [dbo].[PLACEMENT_TEST] ([TestID], [StudentID], [TestDate], [TestTime], [Level], [ResultScore], [Status]) VALUES (3, 3, CAST(N'2026-06-01' AS Date), CAST(N'08:00:00' AS Time), N'Beginner', N'3.0', N'Completed')
SET IDENTITY_INSERT [dbo].[PLACEMENT_TEST] OFF
GO
SET IDENTITY_INSERT [dbo].[PROGRAM] ON 

INSERT [dbo].[PROGRAM] ([ProgramID], [ProgramName], [Description], [OutputStandard], [Level], [Duration], [Fee], [ImageURL], [IsActive]) VALUES (1, N'TOEIC 650+ Cấp tốc', N'Luyện thi TOEIC', N'TOEIC 650', N'Intermediate', N'3 Tháng', CAST(3500000.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[PROGRAM] ([ProgramID], [ProgramName], [Description], [OutputStandard], [Level], [Duration], [Fee], [ImageURL], [IsActive]) VALUES (2, N'IELTS 6.0 Foundation', N'Nền tảng IELTS', N'IELTS 6.0', N'Pre-Intermediate', N'4 Tháng', CAST(6000000.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[PROGRAM] ([ProgramID], [ProgramName], [Description], [OutputStandard], [Level], [Duration], [Fee], [ImageURL], [IsActive]) VALUES (3, N'IELTS 7.0+ Master', N'IELTS chuyên sâu', N'IELTS 7.0', N'Advanced', N'6 Tháng', CAST(8500000.00 AS Decimal(18, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[PROGRAM] OFF
GO
SET IDENTITY_INSERT [dbo].[REGISTRATION] ON 

INSERT [dbo].[REGISTRATION] ([RegistrationID], [StudentID], [ClassID], [RegistrationDate], [RegStatus]) VALUES (1, 1, 1, CAST(N'2026-06-04T20:30:52.210' AS DateTime), N'Confirmed')
INSERT [dbo].[REGISTRATION] ([RegistrationID], [StudentID], [ClassID], [RegistrationDate], [RegStatus]) VALUES (2, 2, 1, CAST(N'2026-06-04T20:30:52.210' AS DateTime), N'Confirmed')
INSERT [dbo].[REGISTRATION] ([RegistrationID], [StudentID], [ClassID], [RegistrationDate], [RegStatus]) VALUES (3, 3, 2, CAST(N'2026-06-04T20:30:52.210' AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[REGISTRATION] OFF
GO
SET IDENTITY_INSERT [dbo].[STUDENT] ON 

INSERT [dbo].[STUDENT] ([StudentID], [AccountID], [FullName], [DateOfBirth], [PhoneNumber]) VALUES (1, 5, N'Châu Trí Kiên', CAST(N'2004-01-15' AS Date), N'0901111111')
INSERT [dbo].[STUDENT] ([StudentID], [AccountID], [FullName], [DateOfBirth], [PhoneNumber]) VALUES (2, 6, N'Nguyễn Tấn Quyền', CAST(N'2003-05-20' AS Date), N'0902222222')
INSERT [dbo].[STUDENT] ([StudentID], [AccountID], [FullName], [DateOfBirth], [PhoneNumber]) VALUES (3, 7, N'Lê Thành Đạt', CAST(N'2005-08-10' AS Date), N'0903333333')
SET IDENTITY_INSERT [dbo].[STUDENT] OFF
GO
SET IDENTITY_INSERT [dbo].[STUDENT_FEEDBACK] ON 

INSERT [dbo].[STUDENT_FEEDBACK] ([FeedbackID], [StudentID], [ClassID], [Rating], [FeedbackContent], [FeedbackDate]) VALUES (1, 1, 1, 5, N'Thầy cô dạy rất nhiệt tình, tài liệu sát đề thi thực tế.', CAST(N'2026-06-04T20:41:43.713' AS DateTime))
INSERT [dbo].[STUDENT_FEEDBACK] ([FeedbackID], [StudentID], [ClassID], [Rating], [FeedbackContent], [FeedbackDate]) VALUES (2, 2, 1, 4, N'Phòng học hơi lạnh nhưng chất lượng giảng dạy tuyệt vời.', CAST(N'2026-06-04T20:41:43.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[STUDENT_FEEDBACK] OFF
GO
SET IDENTITY_INSERT [dbo].[TEACHER] ON 

INSERT [dbo].[TEACHER] ([TeacherID], [AccountID], [FullName], [Expertise]) VALUES (1, 2, N'Trịnh Công Nhật', N'Giảng viên hướng dẫn')
INSERT [dbo].[TEACHER] ([TeacherID], [AccountID], [FullName], [Expertise]) VALUES (2, 3, N'Bùi Anh Tuấn', N'Giao tiếp')
INSERT [dbo].[TEACHER] ([TeacherID], [AccountID], [FullName], [Expertise]) VALUES (3, 4, N'Hoàng Lan', N'TOEIC')
SET IDENTITY_INSERT [dbo].[TEACHER] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_ACCOUNT] ON 

INSERT [dbo].[USER_ACCOUNT] ([AccountID], [Email], [PasswordHash], [Role], [Avatar], [IsActive], [FailedLoginAttempts], [IsLockedOut]) VALUES (1, N'admin@gmail.com', N'123', N'Admin', NULL, 1, 0, 0)
INSERT [dbo].[USER_ACCOUNT] ([AccountID], [Email], [PasswordHash], [Role], [Avatar], [IsActive], [FailedLoginAttempts], [IsLockedOut]) VALUES (2, N'tcn@gmail.com', N'123', N'Teacher', NULL, 1, 0, 0)
INSERT [dbo].[USER_ACCOUNT] ([AccountID], [Email], [PasswordHash], [Role], [Avatar], [IsActive], [FailedLoginAttempts], [IsLockedOut]) VALUES (3, N'teacher_tuan@gmail.com', N'123', N'Teacher', NULL, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[USER_ACCOUNT] OFF
GO
/****** Object:  Index [UQ_Student_Account]    Script Date: 07/06/2026 8:35:04 CH ******/
ALTER TABLE [dbo].[STUDENT] ADD  CONSTRAINT [UQ_Student_Account] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Teacher_Account]    Script Date: 07/06/2026 8:35:04 CH ******/
ALTER TABLE [dbo].[TEACHER] ADD  CONSTRAINT [UQ_Teacher_Account] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER_ACC__A9D10534AC160E59]    Script Date: 07/06/2026 8:35:04 CH ******/
ALTER TABLE [dbo].[USER_ACCOUNT] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLASS_MATERIAL] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[CONSULTATION] ADD  DEFAULT ('Pending') FOR [RequestStatus]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT ('Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[PROGRAM] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[REGISTRATION] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[REGISTRATION] ADD  DEFAULT ('Pending') FOR [RegStatus]
GO
ALTER TABLE [dbo].[STUDENT_FEEDBACK] ADD  DEFAULT (getdate()) FOR [FeedbackDate]
GO
ALTER TABLE [dbo].[USER_ACCOUNT] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[USER_ACCOUNT] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[USER_ACCOUNT] ADD  DEFAULT ((0)) FOR [IsLockedOut]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Registration] FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[REGISTRATION] ([RegistrationID])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_Attendance_Registration]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_Class_Program] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[PROGRAM] ([ProgramID])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_Class_Program]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_Class_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[CLASS_STATUS] ([StatusID])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_Class_Status]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_Class_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[TEACHER] ([TeacherID])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_Class_Teacher]
GO
ALTER TABLE [dbo].[CLASS_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_Material_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[CLASS] ([ClassID])
GO
ALTER TABLE [dbo].[CLASS_MATERIAL] CHECK CONSTRAINT [FK_Material_Class]
GO
ALTER TABLE [dbo].[CLASS_SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[CLASS] ([ClassID])
GO
ALTER TABLE [dbo].[CLASS_SCHEDULE] CHECK CONSTRAINT [FK_Schedule_Class]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Registration] FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[REGISTRATION] ([RegistrationID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_Payment_Registration]
GO
ALTER TABLE [dbo].[PLACEMENT_TEST]  WITH CHECK ADD  CONSTRAINT [FK_PlacementTest_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[STUDENT] ([StudentID])
GO
ALTER TABLE [dbo].[PLACEMENT_TEST] CHECK CONSTRAINT [FK_PlacementTest_Student]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[CLASS] ([ClassID])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK_Registration_Class]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[STUDENT] ([StudentID])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK_Registration_Student]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_Student_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[USER_ACCOUNT] ([AccountID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_Student_Account]
GO
ALTER TABLE [dbo].[STUDENT_FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[CLASS] ([ClassID])
GO
ALTER TABLE [dbo].[STUDENT_FEEDBACK] CHECK CONSTRAINT [FK_Feedback_Class]
GO
ALTER TABLE [dbo].[STUDENT_FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[STUDENT] ([StudentID])
GO
ALTER TABLE [dbo].[STUDENT_FEEDBACK] CHECK CONSTRAINT [FK_Feedback_Student]
GO
ALTER TABLE [dbo].[TEACHER]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[USER_ACCOUNT] ([AccountID])
GO
ALTER TABLE [dbo].[TEACHER] CHECK CONSTRAINT [FK_Teacher_Account]
GO
ALTER TABLE [dbo].[STUDENT_FEEDBACK]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
