<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=sql1001.site4now.net;Initial Catalog=db_aca571_languagecenter;User ID=db_aca571_languagecenter_admin;Password=Chautrikien@123"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="LanguageCenterConnectionString"
			 connectionString="Data Source=sql1001.site4now.net;Initial Catalog=db_aca571_languagecenter;User ID=db_aca571_languagecenter_admin;Password=Chautrikien@123"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<appSettings>
		<add key="vnp_ReturnUrl" value="http://trikien512-001-site1.ltempurl.com/Payment/VnPayReturn"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

</configuration>